.inputs_container {
  display: flex;
  max-width: 728px;
  justify-content: space-between;
  margin-bottom: 42px;
}

.title {
  font-family: 'Ubuntu Mono';
  font-size: 12px;
  color: #333333;
  margin-bottom: 12px;
}

.others_title {
  font-family: 'Ubuntu Mono';
  font-size: 12px;
  margin-bottom: 12px;
  color: #828282;
}


.div_input_label {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Noto Sans JP';
  color: #333333;
  margin-bottom: 4px;
}
.labelHover {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Noto Sans JP';
  color: #333333;
  margin-bottom: 4px;
}
.labelFocus {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Noto Sans JP';
  color: #2962FF;
  margin-bottom: 4px;
}

input {
  pointer-events: none;
  max-width: 200px;
}
input:focus {
  outline: none;
}

/* primer fila */
.input {
  font-family: 'Noto Sans JP';
  padding: 18px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #828282;
  border: 1px solid #828282;
}
.input_hover {
  font-family: 'Noto Sans JP';
  padding: 18px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #828282;
  border: 1px solid #333333;
}
.input_focus {
  font-family: 'Noto Sans JP';
  padding: 18px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #828282;
  border: 1px solid #2962FF;
}

/* segunda fila */
.label_error {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Noto Sans JP';
  color: #D32F2F;
  margin-bottom: 4px;
}
.labelFocus_error {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Noto Sans JP';
  color: #D32F2F;
  margin-bottom: 4px;
}
.input_error {
  font-family: 'Noto Sans JP';
  padding: 18px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #828282;
  border: 1px solid #D32F2F;
}
.input_focus_error {
  font-family: 'Noto Sans JP';
  padding: 18px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #828282;
  border: 1px solid #D32F2F;
}

@media screen and (max-width: 854px) {
  .inputs_container{
    flex-wrap: wrap;
  }
}

