@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans+JP:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700&family=Ubuntu+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  max-width: 980px;
  gap: 20px;
  justify-content: space-between;
  padding-right: 40px;
}